doctype html
html(lang=language)
  head
    - let currentPageName = currentPage.title || currentPage.name
    - let pageTitle = currentPageName ? `${title} - ${currentPageName}` : title
    - pageTitle = currentPage.titleTag ? currentPage.titleTag : pageTitle
    title= pageTitle
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content=currentPage.description)
    meta(property="og:title" content='Lenra - '+pageTitle)
    meta(property="og:type" content="website")
    meta(property="og:url" content="!BASE_URL!"+currentPage.path)
    meta(property="og:image" content="!IMAGE_URL!")
    meta(property="og:description" content=currentPage.description)
    meta(property="og:locale" content=language)
    //- each l in otherLanguages
      meta(property="og:locale:alternate" content=l)
    link(rel="icon" type="image/png" href="/favicon.png")
    link(rel="apple-touch-icon" href="/img/appicon.png")
    link(rel='stylesheet' as='style' type='text/css' href='/css/main.css' media='print' onload='this.media="all"')
    - let cssPath = `page/${currentPage.path}`;
    - if (cssPath.endsWith('/')) cssPath += 'index.html';
    - cssPath = cssPath.replace(/.html$/, ".css");
    - cssExists = fileExists('src/static/css/' + cssPath);
    if (cssExists)
      link(rel='stylesheet' as='style' type='text/css' href='/css/' + cssPath media='print' onload='this.media="all"')
    noscript
      link(rel='stylesheet' as='style' type='text/css' href='/css/main.css')
      if (cssExists)
        link(rel='stylesheet' as='style' type='text/css' href='/css/' + cssPath)
    script(src='/js/main.js' defer)
    script(src="https://analytics.lenra.io/js/plausible.js" data-domain="!DOMAIN!" defer)
  body
    include .header.pug
    include .menu.pug
    section
      main
        block content
          include .ariane.pug
          h1= (currentPage.title || currentPage.name)
            if(currentPage.sourceFile)
              a.btn.link.lenra-icon-github(href=currentPage.sourceFile target="_blank" rel="noopener") Contribute
          if(currentPage.content)
            | !{currentPage.content}
      nav.pages
        if("previous" in currentPage)
          - let prevPage = pageMap[currentPage.previous];
          a.btn.lenra-icon-arrow-left(href="/"+prevPage.href)= (prevPage.properties.name || prevPage.properties.title)
        if("next" in currentPage)
          - let nextPage = pageMap[currentPage.next];
          a.btn.lenra-icon-arrow-right(href="/"+nextPage.href)= (nextPage.properties.name || nextPage.properties.title)
      include .footer.pug
